.sidebar {
  background-color: #222;
  border-radius: 3px;
  padding: 1em;
  height: auto;
}

.sidebar-title {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    color: #FFF;
}

.step-by-step {
    padding: 0em;
    list-style: none;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    color: #FFF;
    opacity: 0.7;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {


}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .sidebar {
    align-self: flex-start; 
  }
}
